.content {
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 1em !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}